* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccdb39;
  display: grid;
  place-items: center center;
}

section {
  display: grid;
  grid-gap: 15px;
  justify-items: center;
}

section input, section button {
  height: 30px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid #000;
  outline: none;
  text-align: center;
  transition: 0.3s;
}

section input:focus {
  width: 300px;
}

section button {
  background-color: #00bbd3;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .3s;
}

#results {
  list-style: none;
  transition: 0.3s;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  justify-self: left;
}

#results li {
  font-size: 25px;
}

output {
  font-weight: 550;
}
